@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@keyframes escalarImagen {
  from { }
  to {
    transform: scale(1.05); } }

@keyframes aparicion {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%; }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%; } }

@keyframes demasiadoLejos__imagen {
  0% { }
  100% {
    transform: scale(0.01) rotate(360deg); } }

@keyframes demasiadoLejos__boton {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/*RESET*/
* {
  margin: 0;
  padding: 0; }

html,
body {
  box-sizing: border-box;
  font-family: "Bebas Neue", "Roboto", sans-serif;
  scroll-behavior: smooth; }

h1,
h2 {
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 1; }

/* LAYOUT GENERAL*/
html,
body {
  width: 100%;
  height: 100%; }

.wraper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%; }

.navContainer {
  position: sticky;
  top: -1px;
  z-index: 2; }

/*ESTILOS GENERALES*/
body {
  color: #fff; }

p {
  margin: 0;
  font-family: serif; }

button:disabled {
  opacity: 0; }

ul {
  margin-bottom: 0; }

/*GENERAL DE TODAS LAS SECCIONES*/
.containerSeccionImagen {
  display: flex;
  justify-content: center;
  align-items: center; }
  .containerSeccionImagen img {
    object-fit: cover;
    width: 100%; }

.containerSeccionTexto {
  margin: 0 2rem; }

.seccionTitulo {
  text-align: center;
  font-size: 3rem;
  margin: .5rem 0; }

.seccionSubtitulo {
  font-family: "Bebas Neue", "Roboto", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin: .5rem 0; }

.seccionTexto {
  font-family: serif;
  line-height: 1.5; }

.textoBajadaImagen {
  font-style: italic;
  text-align: center; }

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
  /*GENERAL DE TODAS LAS SECCIONES*/
  .containerSeccionTexto {
    margin: 2rem; }
  .seccionTexto {
    font-size: 2vw; }
  .seccionTexto p {
    margin-bottom: .5rem; } }

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
  /*GENERAL DE TODAS LAS SECCIONES*/
  .seccionTexto {
    font-size: 1.4vw;
    column-count: 2;
    column-gap: 1.5rem; } }

.navContainer {
  min-height: 3.375rem;
  background-color: #C3B9B7;
  z-index: 16; }

.navbar {
  height: 100%;
  display: flex;
  justify-content: flex-end; }
  .navbar-nav {
    align-items: center; }
  .navbar-collapse {
    justify-content: center; }
  .navbar-toggler {
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9); }

a.nav-link {
  color: #FFFFFF;
  letter-spacing: .4rem; }

.active a {
  color: #756F6E; }

.separadorNav {
  display: none; }

.seccionActiva {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/*-----TABLET-----*/
/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
  .separadorNav {
    display: inline;
    font-size: 1.5rem; }
  .nav-link {
    display: inline-block;
    position: relative; }
    .nav-link:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #FFFFFF;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out; }
    .nav-link:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left; }
  .seccionActiva {
    display: none; } }

.footer {
  min-height: 3.375rem;
  background-color: #C3B9B7;
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  /*FORMULARIO*/
  /*MODAL*/
  /*REDES SOCIALES*/ }
  .footer__formularioNewsletter form {
    position: relative; }
    .footer__formularioNewsletter form input {
      width: 100%;
      background: transparent;
      border: solid 1px #FFFFFF;
      padding: .5rem; }
      .footer__formularioNewsletter form input::placeholder {
        color: #FFFFFF; }
      .footer__formularioNewsletter form input:focus {
        color: white;
        outline: none; }
    .footer__formularioNewsletter form button {
      position: absolute;
      top: 0;
      right: 1.5rem;
      transform: translateY(50%);
      background: none;
      padding: 0;
      border: 0;
      color: #FFFFFF; }
  .footer__modal {
    color: black; }
    .footer__modal .btn-secondary {
      background-color: #756F6E; }
  .footer__redesSociales {
    padding: 1rem 0; }
    .footer__redesSociales ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      font-size: 2.75rem; }
    .footer__redesSociales a {
      color: #FFFFFF; }

/*ACORDEÓN*/
.footer__acordeon > .card {
  background: none;
  border: 0; }
  .footer__acordeon > .card > .card-header, .card-header.footer__acordeon > .mb-0.card > .btn {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0;
    display: flex;
    justify-content: stretch; }

.card-header, .card-header > .mb-0 > .btn {
  padding: 0; }
  .card-header > .mb-0 > .btn-link, .card-header > .mb-0 > .btn > .mb-0 > .btn-link {
    color: #FFFFFF; }

.card-body ul li {
  list-style: none; }
  .card-body ul li a {
    color: #FFFFFF; }

.btn.disabled,
.btn:disabled {
  opacity: 1; }

.btn.focus,
.btn:focus {
  box-shadow: none; }

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
  .footer__redesSociales {
    padding: 0; }
    .footer__redesSociales ul {
      justify-content: space-between; } }

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
  .footer {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 3fr; }
    .footer__header {
      grid-area: 1 / 1 / 2 / 2; }
    .footer__formularioNewsletter {
      grid-area: 2 / 1 / 3 / 2; }
    .footer__redesSociales {
      grid-area: 3 / 1 / 4 / 2; }
    .footer__acordeon {
      grid-area: 2 / 2 / 4 / 3;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-left: 3rem; }
      .footer__acordeon > .bi {
        display: none; }
  .card-body {
    padding: 0 0 0 1.25rem; }
  .collapse {
    display: block !important; } }

.containerHome {
  display: grid;
  grid-template-rows: minmax(333px, 1.5fr) minmax(333px, 1fr) minmax(333px, 1fr) minmax(333px, 1fr);
  grid-template-columns: 100%;
  height: 100%;
  grid-gap: 10px; }
  .containerHome a {
    text-decoration: none;
    color: white; }
  .containerHome__seccionImagen {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .containerHome__seccionTexto, .containerHome__seccionBoton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 6px #000000;
    text-align: center; }
  .containerHome__seccionBoton {
    font-size: 2rem; }

.containerHome__imagenSatelite {
  background-image: url("../media/home/home-satelite-sm.jpeg"); }

.HomeSeccionSatelite {
  position: relative;
  overflow: hidden; }

.containerHome__imagenEvolucion {
  background-image: url("../media/home/home-evolucion-sm.jpeg"); }

.HomeSeccionEvolucion {
  position: relative;
  overflow: hidden; }

.containerHome__imagenExploracion {
  background-image: url("../media/home/home-exploracion-sm.jpeg"); }

.HomeSeccionExploracion {
  position: relative;
  overflow: hidden; }

.containerHome__imagenTienda {
  background-image: url("../media/home/home-tienda-sm.jpeg"); }

.HomeSeccionTienda {
  position: relative;
  overflow: hidden; }

.HomeSeccionSatelite__titulo {
  font-size: 4rem; }

.HomeSeccionSatelite__subtitulo {
  font-size: 1.5rem; }

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
  .HomeSeccionSatelite {
    grid-area: seccion-satelite; }
  .containerHome__imagenSatelite {
    background-image: url("../media/home/home-satelite-md.jpeg"); }
  .HomeSeccionEvolucion {
    grid-area: seccion-evolucion; }
  .containerHome__imagenEvolucion {
    background-image: url("../media/home/home-evolucion-md.jpeg"); }
  .HomeSeccionExploracion {
    grid-area: seccion-exploracion; }
  .containerHome__imagenExploracion {
    background-image: url("../media/home/home-exploracion-md.jpeg"); }
  .HomeSeccionTienda {
    grid-area: seccion-tienda; }
  .containerHome__imagenTienda {
    background-image: url("../media/home/home-tienda-md.jpeg"); }
  .containerHome {
    grid-template-rows: minmax(80vh, 2fr) minmax(20vh, 1fr) minmax(20vh, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "seccion-satelite seccion-satelite" "seccion-evolucion seccion-exploracion" "seccion-tienda seccion-tienda"; } }

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
  .containerHome {
    grid-template-rows: minmax(80vh, 1.5fr) minmax(40vh, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "seccion-satelite seccion-satelite seccion-satelite" "seccion-evolucion seccion-exploracion seccion-tienda"; }
    .containerHome > div:hover > .containerHome__seccionImagen {
      animation: escalarImagen 1s forwards ease-in-out; }
  .containerHome__imagenSatelite {
    background-image: url("../media/home/home-satelite-lg.jpeg"); }
  .containerHome__imagenEvolucion {
    background-image: url("../media/home/home-evolucion-lg.jpeg"); }
  .containerHome__imagenExploracion {
    background-image: url("../media/home/home-exploracion-lg.jpeg"); }
  .containerHome__imagenTienda {
    background-image: url("../media/home/home-tienda-lg.jpeg"); }
  .HomeSeccionSatelite__titulo {
    font-size: 10rem; }
  .HomeSeccionSatelite__subtitulo {
    font-size: 1.65rem;
    margin-top: -1rem;
    margin-left: .2rem; } }

.containerSatelite__item1 {
  grid-area: sateliteItem1; }

.containerSatelite__item2 {
  grid-area: sateliteItem2; }

.containerSatelite__item3 {
  grid-area: sateliteItem3; }

.containerSatelite {
  color: black;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-areas: "sateliteItem1" "sateliteItem2" "sateliteItem3";
  row-gap: 2rem; }
  .containerSatelite__item3 {
    margin: 2rem; }
    .containerSatelite__item3-versionEscritorio {
      display: none; }
    .containerSatelite__item3-versionMobile.imagenes {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .containerSatelite__item3-versionMobile.imagenes > div > img {
        width: 40%;
        margin: auto;
        display: block; }
    .containerSatelite__item3-versionMobile > div > .carousel-indicators {
      bottom: -50px; }
      .containerSatelite__item3-versionMobile > div > .carousel-indicators > li {
        background-color: gray; }
    .containerSatelite__item3-versionMobile > div > div > a {
      background-color: #C3B9B7;
      height: 2rem;
      width: 2rem;
      border-radius: 50%; }
    .containerSatelite__item3.titulo {
      grid-column: 1 / 3;
      font-size: 2rem; }

.contenedor__carousel-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center; }

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
  .containerSatelite {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "sateliteItem1 sateliteItem2" "sateliteItem3 sateliteItem3";
    row-gap: 0; }
    .containerSatelite__item3-versionMobile > div > div > a {
      height: 4rem;
      width: 4rem; } }

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
  .containerSatelite__item3-versionMobile {
    display: none; }
  .containerSatelite__item3-versionEscritorio {
    display: grid;
    grid-template-columns: 10vw repeat(9, auto);
    text-align: center;
    align-items: center;
    margin: 2rem 4rem; } }

.containerEvolucion__item1 {
  grid-area: evolucionItem1; }

.containerEvolucion__item2 {
  grid-area: evolucionItem2; }

.containerEvolucion__item3 {
  grid-area: evolucionItem3; }

.containerEvolucion__item4 {
  grid-area: evolucionItem4; }

.containerEvolucion {
  color: black;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "evolucionItem1" "evolucionItem2" "evolucionItem3" "evolucionItem4";
  row-gap: 2rem; }
  .containerEvolucion__item2 iframe {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 960px;
    height: 100%;
    min-height: 315px; }
  .containerEvolucion__item4 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    text-align: center;
    row-gap: 2px; }
    .containerEvolucion__item4 img {
      display: block;
      max-width: 100%;
      margin: auto; }
    .containerEvolucion__item4 .containerSeccionTexto {
      padding: 0 4rem 2rem 4rem; }
      .containerEvolucion__item4 .containerSeccionTexto .seccionTexto {
        column-count: 1;
        border-bottom: solid 2px black; }
        .containerEvolucion__item4 .containerSeccionTexto .seccionTexto.noBorde {
          border-bottom: 0; }
    .containerEvolucion__item4__titulo {
      display: none; }

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
  .containerEvolucion {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "evolucionItem1 evolucionItem2" "evolucionItem3 evolucionItem3" "evolucionItem4 evolucionItem4";
    row-gap: 0; }
    .containerEvolucion__item3 .seccionTexto {
      column-count: 2;
      border-bottom: 0; }
    .containerEvolucion__item4 {
      grid-template-columns: 50% 50%;
      grid-template-rows: auto; }
      .containerEvolucion__item4 .containerSeccionTexto {
        margin: 0 2rem 0 0;
        border-bottom: solid 2px black;
        padding: 0; }
        .containerEvolucion__item4 .containerSeccionTexto:last-of-type {
          border-bottom: 0; }
        .containerEvolucion__item4 .containerSeccionTexto .seccionTexto {
          border-bottom: 0; } }

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
  .containerEvolucion__item3 .seccionTexto {
    column-count: 4; }
  .containerEvolucion__item4 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto 150px;
    grid-template-areas: "item4__titulo item4__titulo item4__titulo item4__titulo item4__titulo item4__titulo" "item4__imagen-1 item4__imagen-2 item4__imagen-3 item4__imagen-4 item4__imagen-5 item4__imagen-6" "item4__explicacion item4__explicacion item4__explicacion item4__explicacion item4__explicacion item4__explicacion"; }
    .containerEvolucion__item4__titulo {
      display: block;
      grid-area: item4__titulo; }
    .containerEvolucion__item4 img {
      width: 100%; }
    .containerEvolucion__item4 .containerSeccionTexto {
      border-bottom: 0; }
  .containerEvolucion__item4__imagen-1 {
    grid-area: item4__imagen-1; }
  .containerEvolucion__item4__explicacion-1 {
    grid-area: item4__explicacion;
    display: none; }
  .containerEvolucion__item4__imagen-1:hover ~ .containerEvolucion__item4__explicacion-1 {
    display: block;
    animation: aparicion 1s ease 0s 1 normal forwards; }
  .containerEvolucion__item4__imagen-2 {
    grid-area: item4__imagen-2; }
  .containerEvolucion__item4__explicacion-2 {
    grid-area: item4__explicacion;
    display: none; }
  .containerEvolucion__item4__imagen-2:hover ~ .containerEvolucion__item4__explicacion-2 {
    display: block;
    animation: aparicion 1s ease 0s 1 normal forwards; }
  .containerEvolucion__item4__imagen-3 {
    grid-area: item4__imagen-3; }
  .containerEvolucion__item4__explicacion-3 {
    grid-area: item4__explicacion;
    display: none; }
  .containerEvolucion__item4__imagen-3:hover ~ .containerEvolucion__item4__explicacion-3 {
    display: block;
    animation: aparicion 1s ease 0s 1 normal forwards; }
  .containerEvolucion__item4__imagen-4 {
    grid-area: item4__imagen-4; }
  .containerEvolucion__item4__explicacion-4 {
    grid-area: item4__explicacion;
    display: none; }
  .containerEvolucion__item4__imagen-4:hover ~ .containerEvolucion__item4__explicacion-4 {
    display: block;
    animation: aparicion 1s ease 0s 1 normal forwards; }
  .containerEvolucion__item4__imagen-5 {
    grid-area: item4__imagen-5; }
  .containerEvolucion__item4__explicacion-5 {
    grid-area: item4__explicacion;
    display: none; }
  .containerEvolucion__item4__imagen-5:hover ~ .containerEvolucion__item4__explicacion-5 {
    display: block;
    animation: aparicion 1s ease 0s 1 normal forwards; }
  .containerEvolucion__item4__imagen-6 {
    grid-area: item4__imagen-6; }
  .containerEvolucion__item4__explicacion-6 {
    grid-area: item4__explicacion;
    display: none; }
  .containerEvolucion__item4__imagen-6:hover ~ .containerEvolucion__item4__explicacion-6 {
    display: block;
    animation: aparicion 1s ease 0s 1 normal forwards; } }

.containerExploracion__item1 {
  grid-area: exploracionItem1; }

.containerExploracion__item2 {
  grid-area: exploracionItem2; }

.containerExploracion__item3 {
  grid-area: exploracionItem3; }

.containerExploracion__item4 {
  grid-area: exploracionItem4; }

.containerExploracion__item5 {
  grid-area: exploracionItem5; }

.containerExploracion__item6 {
  grid-area: exploracionItem6; }

.containerExploracion {
  color: black;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-areas: "exploracionItem1" "exploracionItem2" "exploracionItem3" "exploracionItem4" "exploracionItem6" "exploracionItem5";
  row-gap: 2rem; }
  .containerExploracion__item5 iframe {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 960px;
    height: 100%;
    min-height: 315px; }

.flip-card-back {
  display: none; }

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
  .containerExploracion {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "exploracionItem1 exploracionItem2" "exploracionItem3 exploracionItem4" "exploracionItem6 exploracionItem6" "exploracionItem5 exploracionItem5";
    row-gap: 0; }
    .containerExploracion__item6 .seccionTexto {
      column-count: 2; } }

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
  .containerExploracion__item4 .seccionSubtitulo {
    display: none; }
  .containerExploracion__item6 .seccionTexto {
    column-count: 4; }
  .flip-card {
    width: 100%;
    background-color: transparent;
    perspective: 1000px; }
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg); }
    .flip-card-front, .flip-card-back {
      position: absolute;
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden; }
    .flip-card-back {
      display: block;
      transform: rotateY(180deg); }
    .flip-card-inner {
      position: relative;
      width: 60%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d; } }

.contenedorContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 10px #756F6E;
  width: 100%;
  min-height: 100%;
  align-items: center;
  background-color: white;
  padding: 1rem; }
  .contenedorContacto__contenedorTitulo {
    text-align: center;
    font-size: 1rem;
    color: #756F6E; }
    .contenedorContacto__contenedorTitulo h1 {
      font-size: 3rem; }
    .contenedorContacto__contenedorTitulo p {
      font-size: 1.5rem; }
  .contenedorContacto__contenedorFormulario {
    width: 100%;
    padding: 1rem; }
  .contenedorContacto__modal {
    color: black; }
    .contenedorContacto__modal .btn-secondary {
      background-color: #756F6E; }

.formularioContacto {
  width: 100%; }
  .formularioContacto input {
    width: 100%;
    margin-bottom: 1rem;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #756F6E; }
    .formularioContacto input[type=checkbox] {
      width: auto;
      margin-bottom: 0; }
  .formularioContacto label {
    color: #756F6E;
    margin-right: 1rem; }
  .formularioContacto button {
    border: 2px solid #756F6E;
    width: auto;
    display: block;
    margin: auto;
    padding: .8rem; }

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
  .mainContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../media/contacto/contacto-fondo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .contenedorContacto {
    width: 768px;
    height: auto;
    min-height: auto;
    margin: 10%; } }

/*-----DESKTOP-----*/
/*BARRA TIENDA*/
.barraNavTienda {
  box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 3.3rem;
  z-index: 1; }
  .barraNavTienda__contenedor {
    min-height: 3.375rem;
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    color: black;
    padding: 0 1rem; }
  .barraNavTienda ul li {
    display: inline; }
    .barraNavTienda ul li:first-of-type {
      margin-right: 1rem; }
    .barraNavTienda ul li > .badge {
      position: relative;
      top: -1px; }

/*CONTENEDOR TIENDA*/
.showroomProductos {
  max-width: 1200px;
  margin: auto; }

/*CAROUSEL*/
.carousel {
  margin-bottom: 1rem; }

/*CATEGORIAS*/
.contenedorCategorias {
  display: flex;
  flex-direction: column; }

.categoria {
  display: inline-block;
  position: relative;
  text-align: center !important;
  margin: 1rem 0; }
  .categoria > img {
    width: 100%; }
  .categoria__texto {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%); }

.nombreCategoria {
  font-size: 2rem; }

.botonCategoria {
  display: inline-block;
  padding: 1rem;
  background-color: #C3B9B7;
  letter-spacing: 2px; }
  .botonCategoria a {
    color: #FFFFFF; }

/*CARTES NECESITAS AYUDA*/
.contenedorNecesitasAyuda {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.37);
  display: flex;
  align-items: center;
  z-index: 1; }
  .contenedorNecesitasAyuda i {
    color: green;
    padding-right: 1rem;
    font-size: 2rem; }
  .contenedorNecesitasAyuda div {
    color: black; }

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
  .showroomProductos {
    padding: 0 1rem; }
  .contenedorCategorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem; } }

/*-----DESKTOP-----*/
.containerDemasiadoLejos {
  background-image: url("../media/demasiado-lejos/demasiado-lejos-fondo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem; }
  .containerDemasiadoLejos img {
    width: 80%;
    animation-name: demasiadoLejos__imagen;
    animation-duration: 20s;
    animation-fill-mode: forwards; }
  .containerDemasiadoLejos__seccionBoton {
    font-size: 2rem;
    color: red;
    animation-name: demasiadoLejos__boton;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
    .containerDemasiadoLejos__seccionBoton a {
      color: #FFFFFF; }

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
  .containerDemasiadoLejos {
    padding: 5rem; } }

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
  .containerDemasiadoLejos {
    justify-content: space-around; }
    .containerDemasiadoLejos img {
      width: 50%;
      max-width: 388px; } }
