.contenedorContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 10px $color-gris-oscuro;
    width: 100%;
    min-height: 100%;
    align-items: center;
    background-color: white;
    padding: 1rem;
}

.contenedorContacto__contenedorTitulo {
    text-align: center;
    font-size: 1rem;
    color: $color-gris-oscuro;
}

.contenedorContacto__contenedorTitulo p:first-child {
    font-size: 3rem;
}

.contenedorContacto__contenedorTitulo p:nth-child(2) {
    font-size: 1.5rem;
}

.contenedorContacto__contenedorFormulario {
    width: 100%;
    padding: 1rem;
}

.formularioContacto {
    width: 100%;
}

form {
    color: $color-blanco;
}

input {
    width: 100%;
    margin-bottom: 1rem;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $color-gris-oscuro;
}

input::placeholder {
    color: $color-gris-oscuro;
}

input[type=checkbox] {
    width: auto;
    margin-bottom: 0;
}

input[type=submit] {
    border: 2px solid $color-gris-oscuro;
    width: auto;
    display: block;
    margin: auto;
    padding: .8rem;
}

label {
    color: $color-gris-oscuro;
    margin-right: 1rem;
}

.formularioContacto__suscripcionNewsletter {
    display: flex;
    align-items: center;
}

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
    .mainContacto {
        @include flexCentrado();
        background-image: url("../media/contacto/contacto-fondo.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .contenedorContacto {
        width: 768px;
        height: auto;
        min-height: auto;
    }
}

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {}