.contenedorContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 10px $color-gris-oscuro;
    width: 100%;
    min-height: 100%;
    align-items: center;
    background-color: white;
    padding: 1rem;

    &__contenedorTitulo {
        text-align: center;
        font-size: 1rem;
        color: $color-gris-oscuro;

        & h1 {

            font-size: 3rem;
        }

        & p {
            font-size: 1.5rem;
        }
    }

    &__contenedorFormulario {
        width: 100%;
        padding: 1rem;
    }

    &__modal {
        color: black;

        & .btn-secondary {
            background-color: $color-gris-oscuro;
        }
    }
}

.formularioContacto {
    width: 100%;

    & input {
        width: 100%;
        margin-bottom: 1rem;
        background: transparent;
        border: 0;
        border-bottom: 2px solid $color-gris-oscuro;

        &[type=checkbox] {
            width: auto;
            margin-bottom: 0;
        }
    }

    & label {
        color: $color-gris-oscuro;
        margin-right: 1rem;
    }

    & button {
        border: 2px solid $color-gris-oscuro;
        width: auto;
        display: block;
        margin: auto;
        padding: .8rem;
    }
}

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
    .mainContacto {
        @include flexCentrado();
        background-image: url("../media/contacto/contacto-fondo.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .contenedorContacto {
        width: 768px;
        height: auto;
        min-height: auto;
        margin: 10%;
    }
}

/*-----DESKTOP-----*/
// @media only screen and (min-width: 992px) {}