/*-- INICIO EXPLORACIÓN --*/
@for $i from 1 through 6 {
    .containerExploracion__item#{$i} {
        grid-area: exploracionItem#{$i};
    }
}

.containerExploracion {
    color: black;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-areas:
        "exploracionItem1"
        "exploracionItem2"
        "exploracionItem3"
        "exploracionItem4"
        "exploracionItem6"
        "exploracionItem5";
    row-gap: 2rem;

    &__item4 {
        background-color: black;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        & p {
            color: white;
            width: 80%;
            margin: 1rem auto 0 auto;
        }

        & .seccionSubtitulo.clic {
            display: none;
        }
    }

    &__item5 iframe {
        display: block;
        padding-bottom: 2rem;
        margin: auto;
        width: 100%;
        max-width: 960px;
        height: 100%;
        min-height: 315px;
    }
}

.flip-card {
    & img {
        max-width: 544px;
        margin: auto;
    }

    & .flip-card-back {
        display: none;
    }
}

.flip-card-front,
.flip-card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
    .containerExploracion {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "exploracionItem1 exploracionItem2"
            "exploracionItem3 exploracionItem4"
            "exploracionItem6 exploracionItem6"
            "exploracionItem5 exploracionItem5";
        row-gap: 0;

        &__item6 .seccionTexto {
            column-count: 2;
        }
    }
}

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
    .containerExploracion {

        &__item4 {
            & .seccionSubtitulo.toca {
                display: none;
            }

            & .seccionSubtitulo.clic {
                display: inline-block;
            }
        }

        &__item5 iframe {
            min-height: 600px;
        }

        &__item6 .seccionTexto {
            column-count: 4;
        }
    }
}

/*-----LG DESKTOP-----*/
@media only screen and (min-width: 1500px) {
    .containerExploracion__item4 {
        min-height: 800px;
    }
}

/*-- FIN EXPLORACIÓN --*/