#header {
    min-height: 3.375rem;
    background-color: $color-gris;
    z-index: 16;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    align-items: center;
}

a.nav-link {
    color: $color-blanco !important;
    text-decoration: none;
    letter-spacing: .4rem;
}

a:active {
    color: $color-blanco;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-toggler {
    color: rgba(255, 255, 255, .9);
    border-color: rgba(255, 255, 255, .9);
}

.active a,
a.active {
    color: $color-gris-oscuro !important;
}

.separadorNav {
    display: none;
}

.seccionActiva {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {
    .header__navbar {
        flex-direction: row;
        justify-content: center;
    }

    .header__navbar ul li {
        display: inline;
    }

    .iconoHamburguesa {
        display: none;
    }

}

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
    .separadorNav {
        display: inline;
        font-size: 1.5rem;
    }

    .nav-link {
        display: inline-block;
        position: relative;
        color: $color-blanco;
    }

    .nav-link:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $color-blanco;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .nav-link:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .seccionActiva {
        display: none;
    }

}