/*-- INICIO HEADER --*/
.navContainer {
    min-height: 3.375rem;
    background-color: $color-gris;
    z-index: 16;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: flex-end;

    &-nav {
        align-items: center;
    }

    &-collapse {
        justify-content: center;
    }

    &-toggler {
        color: rgba(255, 255, 255, .9);
        border-color: rgba(255, 255, 255, .9);
    }
}

a.nav-link {
    color: $color-blanco;
    letter-spacing: .4rem;
}

.active a {
    color: $color-gris-oscuro;
}

.separadorNav {
    display: none;
}

.seccionActiva {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-----TABLET-----*/
// @media only screen and (min-width: 768px) {}

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
    .separadorNav {
        display: inline;
        font-size: 1.5rem;
    }

    .nav-link {
        display: inline-block;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $color-blanco;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    .seccionActiva {
        display: none;
    }
}

/*-- FIN HEADER --*/