.containerHome {
    display: grid;
    grid-template-rows: minmax(333px, 1fr) minmax(333px, 1fr) minmax(333px, 1fr) minmax(333px, 1fr);
    grid-template-columns: 100%;
    height: 100%;
    grid-gap: 10px;
}

.containerHome a {
    text-decoration: none;
    color: white;
}

.containerHome___seccionSatelite,
.containerHome___seccionEvolucion,
.containerHome___seccionExploracion,
.containerHome___seccionTienda {
    overflow: hidden;
}

.containerHome__seccionImagen {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@each $seccion,
$extension in $secciones {
    .containerHome__imagen#{$seccion} {
        background-image: url("../media/home/home-#{$extension}-sm.jpeg");
    }
}

@each $seccion,
$extension-img in $secciones {
    .containerHome___seccion#{$seccion} {
        position: relative;
    }
}

.containerHome___seccion___texto,
.containerHome___seccion___boton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 6px #000000;
}

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {

    @each $seccion,
    $extension in $secciones {
        .containerHome___seccion#{$seccion} {
            grid-area: seccion-#{$extension};
        }
    }

    .containerHome {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "seccion-satelite seccion-satelite"
            "seccion-evolucion seccion-exploracion"
            "seccion-tienda seccion-tienda";
    }

    @each $seccion,
    $extension in $secciones {
        .containerHome__imagen#{$seccion} {
            background-image: url("../media/home/home-#{$extension}-md.jpeg");
        }
    }

    .containerHome___seccionSatelite {}

    .containerHome___seccionSatelite__titulo {}

    .containerHome___seccionSatelite__subtitulo {}

    .containerHome___seccion___boton {
        font-size: 2rem;
    }

}

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
    .containerHome {
        grid-template-rows: minmax(700px, 2fr) minmax(350px, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "seccion-satelite seccion-satelite seccion-satelite"
            "seccion-evolucion seccion-exploracion seccion-tienda"
    }

    @each $seccion,
    $extension in $secciones {
        .containerHome__imagen#{$seccion} {
            background-image: url("../media/home/home-#{$extension}-lg.jpeg");
        }
    }


    .containerHome___seccionSatelite__titulo {
        font-size: 10rem;

    }

    .containerHome___seccionSatelite__subtitulo {
        font-size: 1.65rem;
        margin-top: -1rem;
        margin-left: .2rem;
    }

    .containerHome___seccion___boton {
        font-size: 2rem;
    }

    .containerHome___seccionSatelite>.containerHome___seccion___texto {
        @include flexCentrado();
        flex-direction: column;
    }

    .containerHome>div:hover>.containerHome__seccionImagen {
        animation: escalarImagen 1s forwards ease-in-out;
    }
}