/*-- INICIO INDEX --*/
.containerHome {
    display: grid;
    grid-template-rows: minmax(333px, 1.5fr) minmax(333px, 1fr) minmax(333px, 1fr) minmax(333px, 1fr);
    grid-template-columns: 100%;
    height: 100%;
    grid-gap: 10px;

    & a {
        text-decoration: none;
        color: white;
    }

    &__seccionImagen {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__seccionTexto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 6px #000000;
        text-align: center;
    }

    &__seccionBoton {
        @extend .containerHome__seccionTexto;
        font-size: 2rem;
    }
}

@each $seccion,
$extension in $secciones {
    .containerHome__imagen#{$seccion} {
        background-image: url("../media/home/home-#{$extension}-sm.jpeg");
    }

    .HomeSeccion#{$seccion} {
        position: relative;
        overflow: hidden;
    }
}

.HomeSeccionSatelite {
    &__titulo {
        font-size: 4rem;
    }

    &__subtitulo {
        font-size: 1.5rem;
    }
}

/*-----TABLET-----*/
@media only screen and (min-width: 768px) {

    @each $seccion,
    $extension in $secciones {
        .HomeSeccion#{$seccion} {
            grid-area: seccion-#{$extension};
        }

        .containerHome__imagen#{$seccion} {
            background-image: url("../media/home/home-#{$extension}-md.jpeg");
        }
    }

    .containerHome {
        grid-template-rows: minmax(80vh, 2fr) minmax(20vh, 1fr) minmax(20vh, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "seccion-satelite seccion-satelite"
            "seccion-evolucion seccion-exploracion"
            "seccion-tienda seccion-tienda";
    }

}

/*-----DESKTOP-----*/
@media only screen and (min-width: 992px) {
    .containerHome {
        grid-template-rows: minmax(80vh, 1.5fr) minmax(40vh, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "seccion-satelite seccion-satelite seccion-satelite"
            "seccion-evolucion seccion-exploracion seccion-tienda";

        &>div:hover>.containerHome__seccionImagen {
            animation: escalarImagen 1s forwards ease-in-out;
        }
    }

    @each $seccion,
    $extension in $secciones {
        .containerHome__imagen#{$seccion} {
            background-image: url("../media/home/home-#{$extension}-lg.jpeg");
        }
    }

    .HomeSeccionSatelite {
        &__titulo {
            font-size: 10rem;
        }

        &__subtitulo {
            font-size: 1.65rem;
            margin-top: -1rem;
            margin-left: .2rem;
        }
    }
}

/*-- FIN INDEX --*/