$color-gris: #C3B9B7;
$color-gris-oscuro: #756F6E;
$color-blanco: #FFFFFF;
$secciones: ("Satelite": "satelite", "Evolucion": "evolucion",
"Exploracion": "exploracion", "Tienda": "tienda");
$categorias: ("indumentaria", "telescopios", "hogar", "jugueteria", "varios", "ofertas");